.root {
  background-color: white;
  padding: 24px 32px;
  margin-top: 24px;
  border-radius: 12px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
      font-size: 32px;
      margin-bottom: 24px;
    }

    & span {
      color: #ff7534;
    }
  }

  .card {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;

    & img {
      width: 272px;
      height: 153px;
      object-fit: cover;
    }

    .cardContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .date {
        color: #707070;
      }

      .text {
        font-size: 32px;
        width: 80%;
        height: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .bullets {
    display: flex;
    gap: 32px;
  }
  .bullet {
    padding: 16px;
    width: 33.33%;
    background-color: #f6f6f6;
    border-radius: 8px;

    .bulletText {
      margin-top: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 1.2; /* fallback */
      max-height: calc(2 * 1.2);
      overflow: hidden;
    }
  }
}
