@import '../../styles//media';

.root {
  padding: 14px 0;

  .labelBox {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin: 10px 0;

    .label {
      width: 16px;
      height: 16px;
      margin: 2px;
      display: block;
    }
  }

  .date {
    display: block;
    color: #ff7534;
    padding: 20px 0;
    font-size: 12px;

    @include media(mobile) {
      font-size: inherit;
    }
  }

  .time {
    color: #707070;
    font-size: 14px;
    margin-right: 10px;
  }

  .normalTitle {
    color: #979ea9;
    font-size: 14px;
  }

  .hotTitle {
    font-family: 'TTSevers_Medium';
    font-weight: 600;
    color: #ff7534;
    font-size: 14px;
  }

  .hotText {
    font-family: 'TTSevers_Bold';
    font-weight: 600;
    @include maxTextLines(3, 1.5);

    & span {
      font-family: 'TTSevers_Light';
    }
  }

  .text {
    font-family: 'TTSevers_Light';
    // padding-top: 16px;
    @include maxTextLines(3, 1.5);

    & span {
      margin-right: 10px;
    }
  }
}
