@import '../../styles//media';

.loadMoreButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #979ea9;
  justify-content: center;
  padding: 9.5px 0;
  border-radius: 4px;
}

.more {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;

  & img {
    width: 32px;
    height: 32px;
  }
}
