@import '../../styles//media';

.root {
  margin-top: 32px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'sideBlock'
    'contentBlock';

  @include media(tablet) {
    grid-template-areas:
      'sideBlock contentBlock'
      '_ contentBlock';
  }

  .side {
    grid-area: sideBlock;
    // width: 304px;
    // background-color: white;
    padding: 0 24px;
    border-radius: 12px;
    display: flex;
    overflow: scroll;
    @include hideScroll;
  }

  .content {
    grid-area: contentBlock;
  }
}
