@use './vars' as *;
@use './media' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'TTSevers_Normal';
  font-weight: bolder;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
  padding-bottom: 56px;
  color: $primary-blue40;
  background-color: $neutral20;

  @include media(tablet) {
    padding-bottom: 0;
  }
}

@font-face {
  font-family: 'TTSevers_Normal';
  src: url('./fonts/TTSevers-Regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'TTSevers_Bold';
  src: url('./fonts/TTSevers-Bold.woff') format('woff');
  font-weight: 800;
  font-size: bolder;
}

@font-face {
  font-family: 'TTSevers_ExtraBold';
  src: url('./fonts/TTSevers-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-size: bold;
}

@font-face {
  font-family: 'TTSevers_Light';
  src: url('./fonts/TTSevers-Light.woff') format('woff');
  font-weight: 100;
  font-size: lighter;
}

@font-face {
  font-family: 'TTSevers_Medium';
  src: url('./fonts/TTSevers-Medium.woff') format('woff');
  font-weight: 200;
  font-size: medium;
}

h1,
h3,
h4 {
  font-family: 'TTSevers_Medium';
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-family: 'TTSevers_Medium';
}
