$breakpoints: (
  'mobile': 376px,
  'small-tablet': 600px,
  'tablet': 768px,
  'laptop': 992px,
);

@mixin media($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin maxTextLines($maxLines, $lineHeight) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $maxLines; /* number of lines to show */
  line-height: $lineHeight; /* fallback */
  max-height: calc($maxLines * $lineHeight);
  overflow: hidden;
}
