$neutral20: #f6f6f6; //button
$neutral30: #ebebeb; //bg
$neutral40: #979ea9;

$primary-blue20: #121b30; //starline
$primary-blue40: #182840; //columnText

$primary-orange: #ff7534;

//text
$black40: #2d2d2d;
$gray40: #919191;

$content-width: 1312px;
