@import '../../styles//media';
@import '../../styles//vars';

.root {
  display: flex;
  flex-direction: column;
  width: 304px;

  .imgBox {
    position: relative;
  }

  .image {
    height: 171px;
  }

  .videoIcon {
    position: absolute;
    // top: 0;
    left: 20px;
    bottom: 20px;
  }

  .opacityIcon {
    opacity: 0.7;
  }

  .largeImg {
    height: 171px;

    @include media(mobile) {
      height: 360px;
    }
  }

  .aboutInfo {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 12px;

    & span {
      font-size: 12px;
      color: $gray40;
      // padding: 10px 0;
      font-family: 'TTSevers_Light';
    }
  }

  .text {
    font-size: 22px;
    line-height: 28px;

    @include media(mobile) {
      font-size: 16px;
    }
  }

  .largeText {
    font-size: 24px;

    @include media(mobile) {
      font-size: 32px;
    }
  }
}

.large {
  width: 304px;

  @include media(mobile) {
    width: 640px;
  }
}
