.root {
  display: flex;
  flex-direction: column;
  width: 304px;

  & span {
    padding: 16px 0;
  }
}

.large {
  width: 640px;
}

.image {
  width: 100%;
  height: 171px;
}

.imageLarge {
  height: 360px;
}

.text {
  font-size: 14px;
}

.largeText {
  font-size: 24px;
}
