@import '../../styles//media';
@import '../../styles//vars';

.root {
  padding: 16px;

  .toggler {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    & button {
      border: none;
    }
  }

  & ul {
    list-style: none;
    padding: 24px 16px;

    @include media(mobile) {
      padding: 8px 0;
    }

    & li {
      color: #515151;
      font-family: 'TTSevers_Light';
      padding: 16px 0;

      @include media(mobile) {
        padding: 8px 0;
      }
    }
  }
}

.border {
  border-bottom: 1px solid $border;
}

.title {
  font-size: 16px;
  color: #2d2d2d;
}
