@import '../../styles/media';

.root {
  margin: 0 auto;
  .content {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;

    @include media(mobile) {
      grid-template-columns: 1fr 0.5fr 1fr;
      padding: 24px 0;

      .secondCategories {
        display: grid;
        grid-template-columns: repeat(4, 124px);
        column-gap: 124px;
      }
    }

    .thirdCategories {
      padding: 40px 0;
      @include media(mobile) {
        padding: 5px;
      }

      & ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-transform: uppercase;
        gap: 20px;
        align-items: center;

        @include media(mobile) {
          align-items: flex-start;
          gap: 40px;
          padding: 10px 0;
        }
      }
    }
  }

  .socials {
    padding: 40px 24px;
    border-bottom: 1px solid black;

    & h3 {
      font-size: 22px;
    }

    & ul {
      margin-top: 24px;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      @include media(mobile) {
        display: flex;
      }

      & li {
        font-size: 14px;
        display: flex;
        gap: 12px;
        align-items: center;
      }
    }
  }

  .policy {
    & h4 {
      font-size: 14px;
      text-align: center;
      color: #515151;
      font-family: 'TTSevers_Light';
      padding: 32px 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      @include media(mobile) {
        flex-direction: inherit;
        justify-content: center;
      }

      & a {
        font-family: 'TTSevers_Light';
        text-decoration: none;
        color: #919191;
        font-size: 14px;
        display: block;
      }
    }
  }
}
