@import '../../styles//media';
@import '../../styles//vars';

.root {
  .contentBox {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'sideBlock'
      'contentBlock';

    @include media(mobile) {
      grid-template-areas:
        'sideBlock contentBlock'
        '_ contentBlock';
      gap: 32px;
      align-items: flex-start;
    }

    .side {
      grid-area: sideBlock;
      display: grid;

      @include media(mobile) {
        min-width: 304px;
        background-color: white;
        border-radius: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        font-size: inherit;

        & button {
          margin: 72px 16px 16px;
          padding: 9px 0;
          border: 1px solid $primary-blue40;
          background: none;
          border-radius: 4px;
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;

        & h3 {
          font-size: 32px;
        }

        & span {
          color: $orange;
        }

        @include media(mobile) {
          padding: 14px;

          & h3 {
            font-size: 22px;
          }

          & span {
            font-size: 14px;
          }
        }
      }

      .sideContent {
        padding: 24px;
        overflow: scroll;
        @include hideScroll;

        @include media(mobile) {
          overflow: inherit;
          padding: inherit;
        }
      }
    }

    .content {
      grid-area: contentBlock;
      background-color: white;
      border-radius: 12px;

      @include media(mobile) {
        background-color: inherit;
        border-radius: inherit;
      }
    }
  }
}
