@import '../../styles/media';
@import '../../styles/vars';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'side'
    'main'
    'reg';
  justify-content: center;
  background-color: $neutral20;

  @include media(mobile) {
    margin-top: 80px;
    grid-template:
      'side main '
      'side reg ';
  }

  .sideBlock {
    padding: 40px 0;
    display: grid;
    grid-area: side;
    background-color: white;
  }

  .mainBlock {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    padding: 40px 24px;
    gap: 32px;

    & h1 {
      font-family: 'TTSevers_Bold';
    }

    @include media(mobile) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    // .categoryTitle {
    //   grid-column-start: 1;
    //   grid-column-end: 4;
    //   font-size: 32px;
    // }
  }

  .bottomBlock {
    display: grid;
    padding: 40px 24px;
    grid-area: reg;
    grid-template-columns: 1fr;
    gap: 32px;

    @include media(mobile) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .bottomColumns {
      display: flex;
      gap: 12px;
      overflow: scroll;
      @include hideScroll;
    }

    .categoryHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .categoryTitle {
      }

      .categorySubTitle {
        color: #ff7534;
        font-size: 14px;
      }
    }

    .categoryList {
      list-style: none;
      display: flex;
      gap: 20px;
      justify-content: left;
      align-items: center;
      color: #919191;

      & li:first-child {
        color: #ff7534;
        background-color: #ffeae0;
        padding: 2px 8px;
      }
    }
  }
}
