@import '../../styles//media';

.root {
  display: grid;
  margin-top: 80px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'side'
    'main'
    'reg';

  justify-content: center;
  padding: 0 24px;

  @include media(small-tablet) {
    margin-top: 80px;
    grid-template:
      'side main '
      'side reg ';
  }

  .sideBlock {
    display: grid;
    grid-area: side;
  }

  .mainBlock {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    margin-bottom: 56px;
    gap: 32px;

    @include media(small-tablet) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    // .categoryTitle {
    //   grid-column-start: 1;
    //   grid-column-end: 4;
    //   font-size: 32px;
    // }
  }

  .bottomBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: reg;
    gap: 32px;
    overflow: scroll;
    @include hideScroll;

    .categoryHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column-start: 1;
      grid-column-end: 4;

      @include media(small-tablet) {
      }
    }

    .categorySubTitle {
      color: #ff7534;
      size: 14px;
    }

    .columns {
      display: flex;
      gap: 12px;
    }
  }
}
