@import '../../../styles//media';

.root {
  @include media(mobile) {
    border-radius: 12px;
    background-color: white;
    margin-top: 24px;
  }

  .main {
    grid-area: main;
    padding: 56px 24px;

    .header {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1 {
          font-size: 30px;
        }

        & span {
          color: #ff7534;
          font-size: 14px;
        }
      }

      .categories {
        padding-top: 24px;
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
        color: #919191;

        & :first-child {
          background: #ffeae0;
          color: #ff7534;
          padding: 2px 8px;
        }
      }
    }

    .content {
      margin-top: 32px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 'sidebar';

      @include media(mobile) {
        gap: 32px;
        grid-template:
          'mainCard  sidebar'
          'second  sidebar';
      }

      .mainCard {
        display: none;

        @include media(mobile) {
          display: grid;
          grid-area: mainCard;
        }
      }

      .second {
        display: none;

        @include media(tablet) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-area: second;
          gap: 32px;
        }
      }

      .sidebar {
        display: grid;
        grid-area: sidebar;
      }
    }

    .headerCard {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
