.root {
  background: #121b30;
  padding: 10px;
}

.statsName {
  color: white;
  display: block;
  min-width: 150px;
}

.block {
  display: flex;
}

.runningLine {
  color: white;
}

.lineItem {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 40px;

  & span {
    padding: 0 3px;

    &:last-child {
      color: #ff7534;
    }
  }
}
