.root {
  background: #121b30;
  padding: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 56px;
  }

  .subButton {
    display: flex;
    gap: 16px;
    color: white;
    align-items: center;

    & svg {
      font-size: 32px;
    }
  }

  .content {
    display: grid;
    grid-template:
      'side main'
      'side main';
    padding: 20px 0;
    padding-bottom: 112px;

    .side {
      grid-area: side;
      grid-template-columns: 1fr;
      align-self: center;
    }

    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
