@import '../../../styles//media';

.root {
  // background-color: white;
  padding: 0 24px;
  border-radius: 20px;

  .categories {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;

    & li {
      padding: 5px;
      color: #919191;

      &:first-child {
        background-color: #ffeae0;
        border-radius: 4px;
        color: #ff7534;
        padding: 6px 8px;
      }
    }

    @include media(mobile) {
      justify-content: center;
    }
  }

  .blockTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    & span {
      font-size: 14px;
      position: relative;
      padding: 2px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4px;
        border-bottom: 1px solid black;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
