@import '../../styles//media';

.root {
  position: relative;
  min-height: 489px;

  @include media(mobile) {
    height: 634px;
  }
}

.bannerBG {
  object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 489px;

  @include media(mobile) {
    height: 634px;
  }
}

.contentBox {
  position: relative;
  height: 489px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 20px;

  @include media(mobile) {
    height: 634px;
    padding: inherit;
    display: flex;
    padding-bottom: 56px;
  }

  & h1 {
    color: white;
    font-size: 24px;
    font-size: bold;
    @include maxTextLines(3, 1.3);

    @include media(mobile) {
      margin: 0;
      max-width: 70%;
      font-size: 40px;
      font-family: 'TTSevers_Bold';
    }
  }
}

.slideSwiperButtons {
  display: none;

  @include media(mobile) {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;

    .buttonsCounts {
      color: white;
      font-size: 14px;
      display: flex;
      gap: 5px;

      & span {
        &:last-child {
          opacity: 0.5;
        }
      }
    }

    & svg {
      color: white;
      font-size: 40px;
    }
  }

  & button {
    background: none;
    border: none;
  }

  .sliderArrowRight {
    transform: rotate(180deg);
  }
}

.sliderPubsBox {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  overflow: auto;
  min-height: 100px;
  width: 100%;
  @include hideScroll;

  @include media(mobile) {
    gap: 50px;
  }
}
