@import '../../styles//media';

.root {
  position: relative;
  min-height: 489px;
  @include media(small-tablet) {
    height: 634px;
  }
}

.bannerBG {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 489px;

  @include media(small-tablet) {
    height: 634px;
  }
}

.contentBox {
  position: relative;
  height: 489px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 20px;

  & h1 {
    color: white;
    font-size: 24px;
    font-family: 'TTSevers_Bold';
    margin-bottom: 24px;
    @include media(small-tablet) {
      max-width: 752px;
      line-height: 48px;
      font-size: 40px;
      font-family: 'TTSevers_Bold';
    }

    @include media(small-tablet) {
      height: 634px;
      padding: 50px;
    }
  }
}

.slideSwiperButtons {
  display: none;
  @include media(small-tablet) {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;

    .buttonsCounts {
      color: white;
      font-size: 14px;
      display: flex;
      gap: 5px;

      & span {
        &:last-child {
          opacity: 0.5;
        }
      }
    }

    & svg {
      color: white;
      font-size: 40px;
    }
  }
}

.sliderPubsBox {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  overflow: auto;
  min-height: 100px;
  width: 100%;
  @include hideScroll;
}
